/* Animation for bounce effect */
.bounce {
    animation: bounce 2s infinite;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}


.fade-in {
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.bg-orange-gradient {
    background: linear-gradient(135deg, #f89946, #f1b85c);
}

.bg-blue-gradient {
    background: linear-gradient(135deg, #6cbaef, #7ac5f7);
}

.bg-purple-gradient {
    background: linear-gradient(135deg, #b159d6, #d18bed);
}